<?xml version="1.0" encoding="UTF-8"?>
<module>
  <id>8099fc95-4450-4cac-a898-8b904459c9fc</id>
  <name>AesLink</name>
  <version>1.0</version>
  <assemblies>
    <assembly>
      <fullname>AesLink, Version=1.0.0.0, Culture=neutral, PublicKeyToken=4d95002c27fab778</fullname>
      <codebase>AesLink.dll</codebase>
      <compatibility>
        <min-version>0.0.0.0</min-version>
        <max-version>#.#.*.*</max-version>
      </compatibility>
    </assembly>
  </assemblies>
  <extensions>
    <addIn fullTypeName="AesLink.CustomAddIn, AesLink, Version=1.0.0.0, Culture=neutral, PublicKeyToken=4d95002c27fab778" />
  </extensions>
</module>